@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 80px;
    padding-bottom: 20px;
}

.title{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 40px;
    gap: 10px;
    font-family: var(--font-second);
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.image{
    width: 57px;
    height: 57px;
}

.description{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-family: var(--font-prjects);
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: space-between;
    gap: 15px;
}

.module{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:25px;
}

.lowProj{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 400px;
    width: 600px;
}

.blueGrad{
    display: flex;
    position: absolute;
    height: 400px;
    width: 600px;
    background: linear-gradient(rgba(255,255,255,0.1) 90%, #1f5ad1);
    z-index: 1;
}

.yellowGrad{
    display: flex;
    position: absolute;
    height: 400px;
    width: 600px;
    background: linear-gradient(rgba(255,255,255,0.1) 90%, #A57500);
    z-index: 1;
}

.lightBlueGrad{
    display: flex;
    position: absolute;
    height: 400px;
    width: 600px;
    background: linear-gradient(rgba(255,255,255,0.1) 90%, #21A2DA);
    z-index: 1;
}

.blackGrad{
    display: flex;
    position: absolute;
    height: 400px;
    width: 600px;
    background: linear-gradient(rgba(255,255,255,0.1) 90%,#000000);
    z-index: 1;
}

.orangeGrad{
    display: flex;
    position: absolute;
    height: 800px;
    width: 1216px;
    background: linear-gradient(rgba(255,255,255,0.1) 87%,#D96921);
    z-index: 1;
}

.lowProj img{
    height: 400px;
    width: 600px;
}
.types{
    display: flex;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #121212;
    border-radius: 15px;
    font-family: var(--font-second);
}
.projTitle{
    display: flex;
    position: absolute;
    padding-top: 350px;
    padding-left: 15px;
    font-size: 28px;
    color: white;
    z-index: 2;
    font-weight: 500;
    font-family: var(--font-second);
}

.highProj{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 1216px;
}
.highProj img{
    height: 800px;
    width: 1216px;
}

.projTitleHigh{
    display: flex;
    position: absolute;
    padding-top: 710px;
    padding-left: 15px;
    font-size: 40px;
    color: white;
    font-weight: 500;
    z-index: 2;
    font-family: var(--font-second);
}

.typesHigh{
    display: flex;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 40px;
    color: white;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    width: 260px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #121212;
    border-radius: 25px;
    font-family: var(--font-second);
}

@media screen and (max-width: 1030px){
    .module{
        flex-direction: column;
        align-items: center;
    }
    .projTitle{
        padding-top: 175px;
        padding-left: 10px;
        font-size: 15px;
        font-weight: 500;
    }
    .lowProj{
        width: 320px;
        height: 200px;
    }
    .lowProj img{
        width: 320px;
        height: 200px;
    }
    .highProj{
        width: 320px;
        height: 200px;
    }
    .highProj img{
        width: 320px;
        height: 200px;
    }
    .projTitleHigh{
        padding-top: 175px;
        padding-left: 15px;
        font-size: 15px;
        font-weight: 500;
    }
    .types{
        margin-left: 10px;
        font-size: 15px;
        width: 110px;
    }
    .typesHigh{
        margin-left: 10px;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 500;
        width: 100px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 15px;
    }
    .orangeGrad{
        width: 320px;
        height: 200px;
    }
    .blueGrad{
        width: 320px;
        height: 200px;
    }
    .yellowGrad{
        width: 320px;
        height: 200px;
    }
    .lightBlueGrad{
        width: 320px;
        height: 200px;
    }
    .blackGrad{
        width: 320px;
        height: 200px;
    }
}