@import "../../vars.css";

.content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title{
    color: white;
    display: inline-block;
    user-select: none;
    font-family: var(--font-main) !important;
    font-size: 20px;
    font-weight: 700;
    border: solid;
    text-align: center;
    background-color: #4900BF;
    border-color: #4900BF;
    padding: 10px;
    border-radius: 67px 67px;
    width: 200px;
}

@media screen and (max-width: 1030px){
    .title{
        width: 125px;
        font-size: 16px;
    }
}