@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    z-index: 1;
    margin-left: 5%;
    margin-right: 5%;
}

.title{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 40px;
    gap: 10px;
    font-family: var(--font-second);
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.image{
    width: 57px;
    height: 57px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 80px;
    margin-left: 10%;
    margin-right: 10%;
}
.skillImage{
    width: 151px;
    height: 151px;
}

.skill{
    margin: 40px 80px;
}
progress {
    border-radius: 10px;
    width: 151px;
    height: 13px;
}

progress::-webkit-progress-bar {
    border-radius: 10px;
    background-color: #474747;
}
progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: #FFFFFF;
}

.under{
    color: white;
    font-size: 24px;
    text-align: center;
    font-family: var(--font-second);
}